/*
Error: Invalid CSS after "		height: 70px": expected "{", was ";"
        on line 1078 of style.scss

1073: 		z-index: 10;
1074: 		position: absolute;
1075: 		background-color: rgba(255,255,255,0);
1076: 		border:none;
1077: <<<<<<< HEAD
1078: 		height: 70px;
1079: 		width: 55px;
1080: 		top:153px;
1081: 
1082: =======
1083: 		height: 80px;

Backtrace:
style.scss:1078
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/josef/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		height: 70px\": expected \"{\", was \";\"\A         on line 1078 of style.scss\A \A 1073: 		z-index: 10;\A 1074: 		position: absolute;\A 1075: 		background-color: rgba(255,255,255,0);\A 1076: 		border:none;\A 1077: <<<<<<< HEAD\A 1078: 		height: 70px;\A 1079: 		width: 55px;\A 1080: 		top:153px;\A 1081: \A 1082: =======\A 1083: 		height: 80px;"; }
