//************
// Variables
//************

$background-color: #FFF2EA;
$red: #ff3200;
$blue: #001dd9;
$turquoise: #b3f0e9;

$raleway: 'Raleway', sans-serif;

$iPadWidth: 780px;

*{
	margin:0px;
	padding:0px;
}
html,body{
	min-height: 100% !important;
	width: 100%;
	background-color: #FFF2EA;
}	

body{
	font-family: $raleway;
	font-size: 17px;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.lock{
		overflow: hidden;
	}
}

.js body.home{
	overflow: hidden;
}

p{
	margin-bottom: 15px;
}

h1, .heading{
	text-transform: uppercase;
	font-size:42px;
	font-family: $raleway;
	font-weight: 900;
	color: $red;
	line-height: 1.3em;
	margin-bottom: 15px;	
}

.preheading{
	font-family: 'Cardo', 'serif';
	font-weight: 700;
	display: inline-block;
	font-size: 24px;

	&.underline{
		border-bottom: 1px solid $red;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
}

h3{
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3em;	
}
.verticalWrapper{
	display: table-cell;
	vertical-align: middle;
}
.withWrapper{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.dot{
	background: $red;
	width: 11px;
	height: 11px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
}

/*************************** MENU ****************************************************/
nav{
	position: absolute;
    top: calc(100%);
	background-color: #ffffff;
	z-index: 20;
	width: 100%;
	height:100px;
	text-align: right;
	padding-right: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	a{
		color: #000;
		text-decoration: none;
	}

	img{
		margin-top: 20px;
		height:60px;
		display: inline-block;
		float: left;
	}
	ul.mainnav{
		display: inline-block;
		//width: calc(100% - 400px);
		margin-bottom: 20px;
		vertical-align: middle;
		text-align: right;
		font-weight: 700;
		margin-top: 27px;
		text-transform: uppercase;
		
		li{
			width: auto;
			display: inline-block;
			position: relative;

			&:after{
				display: inline-block;
				background-color: black;
				border-radius: 100px;
				content: '';
				width: 5px;
				height: 5px;
				position: absolute;
				top: 50%;
				margin-top: -3px;
				right: -5px;
			}

			&:last-child:after{
				display: none;
			}

			a{
				display: block;
				padding: 10px 16px;
			}		
		}
	}

	ul.social{
		margin-bottom: 20px;
		vertical-align: middle;
		text-align: right;
		font-weight: 700;
		margin-top: 29px;
		display: inline-block;
		padding-right: 40px;
		li{
			display: inline-block;
			padding: 5px;

			&.linkedin a{
				background: url('images/social/linkedin.jpg') no-repeat;
				background-size: 100%;
			}

			&.instagram a{
				background: url('images/social/instagram.jpg') no-repeat;
				background-size: 100%;
			}

			a{
				display: block;
				width: 30px;
				height: 30px;
				background-color: black;
				border-radius: 100px;
				-webkit-transition: all 300ms cubic-bezier(.17,1.67,.55,1.7) 0ms; 
				   transition: all 300ms cubic-bezier(.17,1.67,.55,1.7) 0ms; /* easeOutExpo */



				        &:hover{

				        	@media screen and (min-width: $iPadWidth) {
								-ms-transform: scale(1.3); /* IE 9 */
							    -webkit-transform: scale(1.3); /* Safari */
							    transform: scale(1.3);
							}

				        }
			}
		}
	}
}
.menuActive{
	position: fixed;
	top:0;
}

/*************************** BUTTONS ****************************************************/

button.square, a.button.square{
	background: none;
	color: $blue;
	padding: 12px 55px;
	text-transform: uppercase;
	font-family: $raleway;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	z-index: 4;

	&.blue{
		border: 3px solid $blue;
	}

	&:focus{
		outline: none;
	}
	
	&:hover{
		background-size: 30px 30px;
		background-repeat: repeat;
		  background-image: linear-gradient(
		    45deg,
			  #606dbc,
			  #606dbc 10px,
			  #465298 10px,
			  #465298 20px
		  );  

		animation: barberpole 0.5s linear infinite;
	}
}





/***************************TOP SECTION***********************************************/
#top{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: table;
	#video{
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 1;
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
	div{
		position: relative;
		z-index: 2;
	}
	h1,h3{
		span{
			padding: 10px;
			background-color: #FEF0EB;
			}
		}
	h3{
		color: $red;
		margin-bottom: 25px;
	}
	h1{
		font-size: 70px;
	}
	#timeOfDay{
		font-weight: 500;
		font-family: 'Cardo', serif;
		margin-bottom: 5px;
	}
	#quats{
		span{
			display: none;
		}
		.current{
			display: inline;
		}
	}
}
/*************************** presentation ***********************************************/
#presentation{
	text-align: center;
	padding-top: 170px;
	padding-bottom: 80px;
	max-width: 830px;

	.preheading{
		-webkit-transition: all 700ms ease-out.3s;
	    transition: all 700ms ease-out .3s;
	}

	.heading{
		margin-bottom: 25px;
		-webkit-transition: all 700ms ease-out.5s;
	    transition: all 700ms ease-out .5s;
	}

	p{
		-webkit-transition: all 700ms ease-out.7s;
	    transition: all 700ms ease-out .7s;
	}

	.dot{
		margin-bottom: 25px;
		-webkit-transition: all 700ms ease-out 0s;
	    transition: all 700ms ease-out 0s;
	    opacity: 0;

	    &.animation{
		    -webkit-animation-name: dotGrow;
		    -webkit-animation-duration: .4s;
		    -webkit-animation-iteration-count: 1;
		    -webkit-animation-timing-function: easeInOutCubic;
		    -webkit-animation-delay: 1.5s;
		    -webkit-animation-fill-mode: forwards;
		    animation-name: dotGrow;
		    animation-duration: .4s;
		    animation-iteration-count: 1;
		    animation-timing-function: easeInOutCubic;
		    animation-delay: 1.5s;
		    animation-fill-mode: forwards;
	    }
	}

	button{
		margin-top: 35px;
		-webkit-transition: all 700ms ease-out 1s;
	    transition: all 700ms ease-out 1s;
	}
}

.js #presentation.preanimation{
	.preheading, .heading, p, button{
		opacity: 0;
		-webkit-transform: translate(0px,-10px); /* Safari */
		transform: translate(0px,-10px);
	}

	.dot{
		//opacity: 0;
	}
}

@-webkit-keyframes dotGrow {
    from { -webkit-transform: scale(0.3); opacity:0;}
    10% { opacity: 1;}
    50% { -webkit-transform: scale(1.8); opacity: 1;}
    to { -webkit-transform: scale(1);opacity: 1;}
}

@keyframes dotGrow {
    from { transform: scale(0.3); opacity:0;}
    10% { opacity: 1;}
    50% { transform: scale(1.8);opacity: 1;}
    to { transform: scale(1);opacity: 1;}
}

/*************************** case ***********************************************/

.caseSection{
	width: 100%;
	height:calc(100vh - 100px);
	overflow-x: hidden;
	position: relative;
	#caseWrapper{
		width: 100000%;
		.caseNavigation{
			position: absolute;
			z-index: 10;
		}
		.left{
			left: 0px;
			top:calc(50% - 20px);
		}
		.right{
			right:0px;
		}
		.case{
			-webkit-transition: all 0.6s cubic-bezier(0.44, 0.88, 0.85, 1.11);
			-moz-transition: all  0.6s cubic-bezier(0.44, 0.88, 0.85, 1.11);
			transition: all  0.6s cubic-bezier(0.44, 0.88, 0.85, 1.11);
			position: absolute;
			vertical-align: top;
			padding-right: 10px;
			width: calc(100vw - 60px);
			display: inline-block;
			a{
				text-decoration: none;
			}
			.caseContent{
				padding: 20px;
				height:calc(100vh - 140px);
				.resultStat{
					    text-align: center;
					img{
						display: inline-block;
						height: 1em;
					}
					h3{
						display: inline;
					}
					p{
						
					}
				}
				.presentationText{
					
					div{
					    display: -webkit-box;
					    max-width: 100%;
					    height: 91px;
					    margin: 0 auto;
					    font-size: 16px;
					    line-height: 1.5em;
					    -webkit-line-clamp: 4;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    margin-bottom: 20px;
					}
					.readMore::after{
						content:" >";
						font-weight: 800;
					}
				}
				h3{
					padding-top: 10px;
				}
				.img{
					height: 60vh;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					width: 100%;
				}
			}
		}
	.visable{
		.right{
			display: none;
		}
		.left{
			display: none;
		}
	}
	
	}
}

/*************************** instagram ***********************************************/
#instafeed{
	padding-bottom: 33%;
	position: relative;
	.istagramImg{
		left: 0px;
		right: 0px;
		position: absolute;
		visibility: hidden;
		.instagramText{
			visibility: hidden
			}
		p{
			position: absolute;
			word-break: break-word;
			top:0;
		}
		.instagramText{
			top:1.7em;
		}
		img{
			width: 100%;
		}
	}
	.current{
		visibility: visible;
	}
}
/*************************** instagram ***********************************************/
.spotify{
	position: relative;
	img{
		position: absolute;
		width: 100%;
	}
	.lastfmlive_song_title{
		position: absolute;
		z-index: 1;
		top:20px;
		left: 20px;
		width: calc(100% - 40px);
	}
}
/***************************clients************************************************/
.logoWrapper{
	width: 100%;
	.clientLogo{
		width: calc(25% - 10px);
		margin-bottom: 10px;
	}
}
/*************************** SECTION***********************************************/
.fullHeight{
	height: 100vh;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 50%;
}

.span_5_of_12 {
  	width: 41.66%;
}

.span_4_of_12 {
  	width: 33.33%;
}

.span_3_of_12 {
  	width: 25%;
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}